html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin-left: 120px;
  background: #0F1215;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  line-height: 16px;
  color: #627CA3;
}

@media (max-width: 991px) {
  body {
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  body {
    margin-left: 0;
  }
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.base-input {
  width: 240px;
  height: 40px;
  padding: 12px 16px;
  outline: none;
  background: transparent;
  border: 1px solid #16263D;
  border-radius: 2px;
  color: #627CA3;

  &:focus {
    background-color: #121F33;
    border: 1px solid #627CA3;
    color: #627CA3;
  }

  &:active {
    background-color: #16263D;
    border: 1px solid #185EC7;
    color: #E6E6E6;
  }

  &:disabled {
    background-color: #121F33;
    border: none;
    color: #98A4B5;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #627CA3;
  }
}

.base-text {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  margin-bottom: 6px;
}
