html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #0F1215;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  line-height: 16px;
  color: #627CA3;

}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20.8px;
  color: #37B7FA;
}

.content {
  flex: 1 1 auto;
}

.auth-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  color: #E6E6E6;
}

.hidden-on-mobile {
  @media screen and (max-width: 680px) {
    display: none !important;
  }
}

.show-on-mobile {
  display: none;

  @media screen and (max-width: 680px) {
    display: block !important;
  }
}

.section-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  color: #F5F5F5;

  @media screen and (max-width: 680px) {
    font-size: 30px;
    line-height: 34px;
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 44px;
  }
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}

// Slider Card Styles
.swiper-slide {
  height: auto !important;
}

// admin
.admin-create-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 600px;
}

.admin-create {
  max-width: 600px;
  width: 100%;

  &__timezone {
    color: #3C434D;
  }
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.mb22 {
  margin-bottom: 22px;
}

.flex-center {
  display: flex;
  justify-content: center;
}


// USER PANEL
.user-panel {

  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #F5F5F5;
    line-height: 66px;
    margin-bottom: 56px;
  }

  &__form {
    margin: 0 auto;
    max-width: 360px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  &__link {
    flex: 1 1 auto;
    max-width: 33.3%;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #F5F5F5;
    padding: 30px 15px;
    border: 2px solid #20252B;
    margin-bottom: 50px;
    cursor: pointer;

    &:hover {
      background: #001F3E;
    }
  }
}

.control__buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}
